
.usage-data .chart-series-area-fill {
     -fx-fill: #ffa07aaa;
 }

 .usage-data .chart-series-area-line {
     -fx-stroke: #e9967a;
     -fx-stroke-width: 1px;
     -fx-effect: null;
 }

.trend-line-unsupported .chart-series-area-fill, .trend-line-supported .chart-series-area-fill {
     -fx-fill: none;
 }

 .trend-line-unsupported .chart-series-area-line, .trend-line-supported .chart-series-area-line {
     -fx-stroke: black;
     -fx-stroke-width: 1px;
     -fx-effect: null;
 }

 .trend-line-supported .chart-series-area-line {
     -fx-stroke: black;
 }

 .trend-line-unsupported .chart-series-area-line {
     -fx-stroke: gray;
     -fx-stroke-dash-array: 5 5;
 }

* {
    -bkr-color-layer0:#212121;
    -bkr-color-layer1:#424242;
    -bkr-color-layer2:#616161;
    -bkr-color-layer3:#757575;
    -bkr-color-layer4:#9E9E9E;
    -bkr-color-layer5:#BDBDBD;

    -bkr-color-layer6:#E0E0E0;
    -bkr-color-layer7:#EEEEEE;
    -bkr-color-layer8:#F5F5F5;
    -bkr-color-layer9:#FAFAFA;

    -bkr-text-color-layer0:#FAFAFA;
    -bkr-text-color-layer1:#FAFAFA;
    -bkr-text-color-layer2:#FAFAFA;
    -bkr-text-color-layer3:#FAFAFA;
    -bkr-text-color-layer4:#FAFAFA;
    -bkr-text-color-layer5:#FAFAFA;
    -bkr-text-color-layer6:#212121;
    -bkr-text-color-layer7:#212121;
    -bkr-text-color-layer8:#212121;
    -bkr-text-color-layer9:#212121;


    -fx-color-bg-dark: #494949;
    -fx-color-bg-dark-text:#a4a4a4;
    -fx-color-bg-dark-hover: #757575;

    -fx-color-bg-light: #707070;
    -fx-color-bg-lighter: #606060;
    -fx-color-bg-light-text: #cfcfcf;

    -fx-color-bg-light-hover: #9e9e9e;
    -fx-color-bg-light-hover-text: white;
}

 .button {
     -fx-background-color: -bkr-color-layer3;
     -fx-text-fill: -bkr-text-color-layer3;
     -fx-cursor:hand;
 }

  .button:hover {
      -fx-background-color: -bkr-color-layer4;
      -fx-text-fill: -bkr-text-color-layer4;
  }

 .tab-header-background, .text-input, .text-area .content {
     -fx-background-color: -bkr-color-layer1;
     -fx-text-fill: -bkr-text-color-layer1;
 }

AnchorPane, GridPane {
     -fx-background-color: -bkr-color-layer3;
     -fx-text-fill: -bkr-text-color-layer3;
 }

 .tab, .tab-label {
     -fx-background-color: -bkr-color-layer2;
     -fx-text-fill: -bkr-text-color-layer2;
 }

 .label, .radio-button {
    -fx-text-fill: -bkr-text-color-layer3;
 }

 .tab:selected,  .tab:selected .tab-label, .tab-content-area, .menu-bar, .menu, .menu-item, .context-menu   {
    -fx-background-color: -bkr-color-layer3;
    -fx-text-fill: -bkr-text-color-layer3;
}

 .menu-item:focused, .chart-content, .chart {
    -fx-background-color: -bkr-color-layer4;
    -fx-text-fill: -bkr-text-color-layer4;
 }

.combo-box, .date-picker {
      -fx-background-color: -bkr-color-layer4;
      -fx-text-fill: -bkr-text-color-layer4;
}

.tab:selected .focus-indicator {
    -fx-border-color: -bkr-color-layer4;
}

.tool-bar {
     -fx-background-color: -bkr-color-layer2;
     -fx-text-fill: -bkr-text-color-layer2;
}

SVGPath {
    -fx-fill: -fx-color-bg-light-text;
}

SVGPath:hover {
    -fx-fill: -fx-color-bg-light-hover-text;
}

.auto-chart-header {
    -fx-background-color: -bkr-color-layer2;
    -fx-text-fill: -bkr--text-color-layer2;
    -fx-margin:0px 0px 10px 0px;
}

.chart, .chart-content, .chart-plot-background, .column-drag-header .label {
    -fx-background-color: -bkr-color-layer2;
    -fx-text-fill: -bkr--text-color-layer2;
    -fx-padding:0px;
}

.chart-content {
    -fx-padding:20px 40px 5px 0px;
}

.axis {
    -fx-font-size: 1.1em;
    -fx-tick-label-fill: -bkr-text-color-layer2;
}

.trend-line-supported .chart-series-area-line, .trend-line-unsupported .chart-series-area-line {
    -fx-stroke: white;
}
