.root { -fx-border-radius:0 0 0 0; }


.toggleable:disabled, .toggleable:disabled > * {
    -fx-opacity: 1.0;
    -fx-background-color: -fx-text-box-border, -fx-background;
    -fx-text-box-border: transparent;
    -fx-background: #fafafa;
    -fx-background-color: #fafafa;
    -fx-background-radius: 0;
}

/* /////////////////////////////////////////////////////////////////
//                        Buttons                                 //
///////////////////////////////////////////////////////////////// */
.subtle-button {
  -fx-background-color:transparent;
}

.subtle-button:hover {
  -fx-background-color:#dae7f3;
}

/* /////////////////////////////////////////////////////////////////
//                        Trend Chart                             //
///////////////////////////////////////////////////////////////// */
.usage-data .chart-series-area-fill {
     -fx-fill: #ffa07aaa;
 }

 .usage-data .chart-series-area-line {
     -fx-stroke: #e9967a;
     -fx-stroke-width: 1px;
     -fx-effect: null;
 }

.trend-line-unsupported .chart-series-area-fill, .trend-line-supported .chart-series-area-fill {
     -fx-fill: none;
 }

 .trend-line-unsupported .chart-series-area-line, .trend-line-supported .chart-series-area-line {
     -fx-stroke: black;
     -fx-stroke-width: 1px;
     -fx-effect: null;
 }

 .trend-line-supported .chart-series-area-line {
     -fx-stroke: black;
 }

 .trend-line-unsupported .chart-series-area-line {
     -fx-stroke: gray;
     -fx-stroke-dash-array: 5 5;
 }